@model YummyApp.Core.ViewModels.AdminViewModels.DetailsGalleryVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@*<h1 class="text text-decoration-underline">Event Full Informations:</h1> <br />*@

@*<div>
    <ul  class="list-group">
        <li class="list-group-item">Title: @Model.Title</li><br />
        <li class="list-group-item">Description : @Model.Description</li><br />
        <li class="list-group-item">Price: @Model.Price $</li><br />
        <li class="list-group-item">Image: <img src="~/EventImages/@Model.ImageName" style="max-width:200px;" class="img-thumbnail" /></li><br /> 
    </ul>
</div>*@

<div class="modal fade" id="kt_modal_details" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Form-->
            <form class="form" method="post" enctype="multipart/form-data" id="kt_modal_details_form">
                <!--begin::Modal header-->
                <div class="modal-header" id="kt_modal_new_address_header">
                    <!--begin::Modal title-->
                    <h2>Message Full Informations</h2>
                    <!--end::Modal title-->
                    <!--begin::Close-->
                    <div class="btn btn-sm btn-icon btn-active-color-primary btn-hide" data-bs-dismiss="modal">
                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                        <span class="svg-icon svg-icon-1">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                                <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                    </div>
                    <!--end::Close-->
                </div>
                <!--end::Modal header-->
                <!--begin::Modal body-->
                <div class="modal-body py-10 px-lg-17">
                    <!--begin::Scroll-->
                    <div class="scroll-y me-n7 pe-7" id="kt_modal_new_address_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_new_address_header" data-kt-scroll-wrappers="#kt_modal_new_address_scroll" data-kt-scroll-offset="300px">
                        @*<!--begin::Notice-->
                        <!--begin::Notice-->
                        <div class="notice d-flex bg-light-warning rounded border-warning border border-dashed mb-9 p-6">
                        <!--begin::Icon-->
                        <!--begin::Svg Icon | path: icons/duotune/general/gen044.svg-->
                        <span class="svg-icon svg-icon-2tx svg-icon-warning me-4">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor" />
                        <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="currentColor" />
                        <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="currentColor" />
                        </svg>
                        </span>
                        <!--end::Svg Icon-->
                        <!--end::Icon-->
                        <!--begin::Wrapper-->
                        <div class="d-flex flex-stack flex-grow-1">
                        <!--begin::Content-->
                        <div class="fw-semibold">
                        <h4 class="text-gray-900 fw-bold">Warning</h4>
                        <div class="fs-6 text-gray-700">
                        Updating address may affter to your
                        <a href="#">Tax Location</a>
                        </div>
                        </div>
                        <!--end::Content-->
                        </div>
                        <!--end::Wrapper-->
                        </div>
                        <!--end::Notice-->
                        <!--end::Notice-->*@
                        
                        <!--begin::Col-->
                        <div class="d-flex flex-column mb-5 fv-row">
                                <!--end::Label-->
                            <label class="required fs-5 fw-semibold mb-2" value='Title'>Title</label>
                                <!--end::Label-->
                                <!--end::Input-->
                            <input asp-for="Title" class="form-control form-control-solid" placeholder="" disabled />
                                <!--end::Input-->
                            </div>
                            <!--end::Col-->
                        <!--end::Input group-->
                        <br />

                        <div class="container">
                            <div class="row">
                                <label class="required fs-5 fw-semibold mb-2" >Photos</label>

                                @foreach (var item in Model.Photos)
                                {
                                    <div class="col-md-4" style="padding-bottom: 20px;">
                                        <span>
                                            <img src="~/GalleryImages/@item" style="width:135px; height:130px;" asp-append-version="true" />
                                        </span>
                                    </div>
                                }
                            </div>
                        </div>

                        
                        
                    </div>
                    <!--end::Scroll-->
                </div>
                <!--end::Modal body-->
                <!--begin::Modal footer-->
                <div class="modal-footer flex-center">
                    <!--begin::Button-->
                    <button type="reset" data-bs-dismiss="modal" class="btn btn-light me-3 btn-closee">Discard</button>
                    <!--end::Button-->
                    <!--begin::Button-->
                    @*<button type="submit" id="kt_modal_update_submit" class="btn btn-primary">
                        <span class="indicator-label">Update</span>
                        <span class="indicator-progress">
                            Please wait...
                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
                    </button>*@
                    <!--end::Button-->
                </div>
                <!--end::Modal footer-->
            </form>
            <!--end::Form-->
        </div>
    </div>
</div>
<!--end::Modal - New Address-->
